{% extends 'layout/base.html' %}

{% block title %} Điểm danh {% endblock %}

{% block content %}
    <h1 class="d-flex justify-content-center text-danger" style="margin-top:50px">Điểm danh</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card my-5">
                    <form class="card-body cardbody-color p-lg-5" method="post" enctype="multipart/form-data" action="/attendance">
                        <div class="mb-3">
                            <label>Course ID:</label>
                            <input class="form-control" type="text" id="course_id" name="course_id" value="{{ course_id }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label>Upload ảnh khuôn mặt:</label>
                            <input type="file" id="file" name="file" class="form-control">
                        </div>
                        <div class="text-center" style="display:flex; justify-content: center">
                            <button type="submit" class="btn btn-primary">Điểm danh</button>
                        </div>
                    </form>

                    {% if message %}
                        <div class="text-center">
                            Kết quả: {{ message }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}