{% extends 'layout/base.html' %}

{% block title %} Danh sách khóa học của sinh viên {% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Danh sách khóa học của sinh viên</h2>
        {% if courses %}
            <table class="table">
                <thead>
                    <tr>
                        <th>ID Khóa học</th>
                        <th>Tên khóa học</th>
                        <th>Thời gian bắt đầu</th>
                        <th>Thời gian kết thúc</th>
                        <th>Giảng viên</th>
                        <th>Điểm danh</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                        <tr>
                            <td>{{ course.course_id }}</td>
                            <td>{{ course.name_course }}</td>
                            <td>{{ course.start_time }}</td>
                            <td>{{ course.end_time }}</td>
                            <td>{{ course.name }}</td>
                            <td><a href="{{ url_for('attendance', course_id=course.course_id) }}" class="btn btn-primary">Điểm danh</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Không có khóa học nào được tìm thấy.</p>
        {% endif %}
    </div>
{% endblock %}